---
layout: default
title: Chris Luedtke's Blog
---
<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/images/home-bg.jpg')">
   <div class="overlay"></div>
   <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Chris Luedtke</h1>
                    <span class="subheading">Data Scientist for diverse problems and industries</span>
                </div>
            </div>
       </div>
   </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            
            {% for post in site.posts %}
                <div class="post-preview">
                    <a {% if post.forward_url %}href="{{ post.forward_url }}"{% else %}href="{{ post.url }}"{% endif %}>
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">{{ post.date | date_to_string }}</p>
                    {% if post.tags %}
                    <h5>
                        {% for tag in post.tags %}
                        <span class="badge badge-secondary">{{ tag }}</span>
                        {% endfor %}
                    </h5>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}

            <div class="clearfix" style="margin-bottom: 20px">
                <a class="btn btn-primary float-right" href="#">Back to Top</a>
            </div>
        </div>
    </div>
</div>
